---
---

/* Variables */
$primary-color: #8c95c5;
$secondary-color: #888888;
$section-color: #E6EBEB;
$body-color: #000;

$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Muli', sans-serif;

$name-font-size: 2.5em;
$icon-font-size: 0.9em;
$section-header-font-size: 1.5em;
$bullet-font-size: 0.8em;
$skill-font-size: 0.8em;

body {
  padding: 20px;
  background-color: #FCFCFC;

  a {
    color: $primary-color;
  }
}

.page-links {
  font-family: $primary-font;
  text-align: center;
  margin: 50px;

  /* Hide page links for printing resume */
  @media print {
    display: none;
  }

  a {
    padding: 0px 15px; /* top-bottom, left-right */
  }

}

.resume-body {
  font-family: $secondary-font;
  box-shadow: 0px 0px 75px #ccc;

  @media print {
    box-shadow: none;
  }

  /* Center resume and fix size (proportions) */
  margin: auto;
  width: 850px;
  height: 1100px;

  /* Prevent padding from changing size */
  padding: 25px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

/* Nameplate section (name and contact info) */
.nameplate {

  /* Ensure padding (text left-alignment) is consistent */
  .name, .icons {
    padding-left: 15px;
  }

  .name {
    text-transform: uppercase;
    font-family: $primary-font;
    font-size: $name-font-size;
    font-weight: 900;
  }

  .first-name {
    color: $primary-color;
  }

  .last-name {
    color: $secondary-color;
  }

  .icons {
    margin-bottom: 10px;

    a {
      color: $body-color;
      font-family: $primary-font;
      font-size: $icon-font-size;
      margin-right: 15px;

      &:hover {
        text-decoration: none;
        color: $primary-color;
      }
    }
  }
}

/* Section styles */
.resume-section {
  clear: both;

  /* Ensure padding (text left-alignment) is consistent */
  .section-header, .section-item, .skill-items {
    padding: 1px 15px; /* top-bottom, left-right */
  }

  /* Section header */
  .section-header {
    font-family: $primary-font;
    background-color: $section-color;
    margin: 5px 0px; /* top-bottom, left-right */

    /* Text */
    font-size: $section-header-font-size;
    font-weight: 900;
    color: $primary-color;
    text-transform: uppercase;
  }

  /* Skills */
  .skill-items {
    font-size: $skill-font-size;
    list-style: none;

    .skill-category {
      font-family: $primary-font;
      text-transform: uppercase;
    }

    .skill-items {
      display: inline;
      margin-bottom: 10px;
    }
  }

  /* Section content */
  .section-item {

    /* Item title */
    .item-title {
      font-family: $primary-font;
      text-transform: uppercase;
      float: left;
    }

    /* Item location */
    .item-location {
      font-family: $primary-font;
      float: right;
    }

    /* Item secondary title */
    .item-secondary-title {
      font-family: $primary-font;
      color: $secondary-color;
      clear: both;

      /* Align text (left) on the same line as duration */
      float: left;
    }

    /* Item duration */
    .item-duration {
      font-family: $primary-font;

      /* Align text (right) on the same line as secondary title */
      float: right;
    }

    /* Item bullets */
    .item-bullets {
      padding-left: 25px;
      margin-bottom: 5px;
      line-height: 1.5em;
      font-size: $bullet-font-size;

      /* Prevent above floating text from messing up things */
      clear: both;
    }
  }
}
