
.resume-body {
  font-family: 'Muli', sans-serif;
  box-shadow: 0px 0px 15px #ccc;

  /* Center resume and fix size (proportions) */
  margin: auto;
  width: 850px;
  height: 1100px;

  /* Prevent padding from changing size */
  padding: 20px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.resume-section {

}
