/* Variables */
$primary-color: #339595;
$secondary-color: #888888;
$section-color: #E6EBEB;

$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Muli', sans-serif;

.resume-body {
  font-family: $secondary-font;
  box-shadow: 0px 0px 15px #ccc;

  /* Center resume and fix size (proportions) */
  margin: auto;
  width: 850px;
  height: 1100px;

  /* Prevent padding from changing size */
  padding: 20px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

/* Nameplate section (name and contact info) */
.nameplate {
  .first-name, .last-name {
    font-family: $primary-font;
  }
}

/* Section styles */
.resume-section {

  /* Ensure padding (text left-alignment) is consistent */
  .section-header, .section-item {
    padding: 1px 15px; /* top-bottom, left-right */
  }

  /* Section header */
  .section-header {
    font-family: $primary-font;
    background-color: $section-color;
    margin: 5px 0px; /* top-bottom, left-right */

    /* Text */
    font-size: 1.5em;
    font-weight: 900;
    color: $primary-color;
    text-transform: uppercase;
  }

  /* Section content */
  .section-item {

    /* Item title */
    .item-title {
      font-family: $primary-font;
      text-transform: uppercase;
      float: left;
    }

    /* Item location */
    .item-location {
      font-family: $primary-font;
      float: right;
    }

    /* Item secondary title */
    .item-secondary-title {
      font-family: $primary-font;
      color: $secondary-color;
      clear: both;

      /* Align text (left) on the same line as duration */
      float: left;
    }

    /* Item duration */
    .item-duration {
      font-family: $primary-font;

      /* Align text (right) on the same line as secondary title */
      float: right;
    }

    /* Item bullets */
    .item-bullets {
      padding-left: 25px;
      font-size: 0.8em;
      font-weight: 600;

      /* Prevent above floating text from messing up things */
      clear: both;
    }
  }
}
